:root {
	/* CSS HSL */
	--lavender-blush: hsla(350, 64%, 95%, 1);
	--midnight-green-eagle-green: hsla(195, 70%, 22%, 1);
	--pacific-blue: hsla(191, 55%, 53%, 1);
	--fiery-rose: hsla(353, 95%, 69%, 1);
	--dark-purple: hsla(329, 92%, 9%, 1);

	--base: var(--lavender-blush);
	--type: var(--dark-purple);
}

@media (prefers-color-scheme: dark) {
	:root {
		--base: var(--dark-purple);
		--type: var(--lavender-blush);
	}
}
