:root {
  --blue: #0075BC;
	--dark-blue: #005C96;
	--light-teal: rgb(0, 187, 212, 0.05);
	--teal: #00BBD4;
	--dark-teal: #00B5D1;
	--darker-grey: #444444;
	--dark-grey: #606060;
	--light-grey: #CCCCCC;
	--white: #FFFFFF;
	--black: #000000;
	--yellow: #FBD333;
}
