#main,
#main:active,
#main:focus {
  outline: 0px solid transparent;
  overflow: hidden;
}

#skip a {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  &:focus {
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid #000000;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
  }
}

body {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  line-height: 24px;
  background-color: var(--base);
  color: var(--type);
}

h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  padding-bottom: 0.5em;
}

li,
p {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 0.5em;
}
