#main,
#main:active,
#main:focus {
  outline: 0px solid transparent;
  overflow: hidden;
}

#skip a {
  display: block;
  position: absolute;
  left: -999px;
  top: -999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  &:focus {
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    color: #000000;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid #000000;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
  }
}
